NetEdu/.vs/NetEdu/v14/.suo
NetEdu/.vs/NetEdu/v14/.suo
NetEdu/NetEdu/bin/NetEdu.dll
NetEdu/NetEdu/bin/NetEdu.pdb
NetEdu/NetEdu/obj/Debug/NetEdu.csproj.FileListAbsolute.txt
NetEdu/NetEdu/obj/Debug/NetEdu.csprojResolveAssemblyReference.cache
NetEdu/NetEdu/obj/Debug/NetEdu.dll
NetEdu/NetEdu/obj/Debug/NetEdu.pdb
